* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-columns: 250px 1fr;
  grid-template-areas: 
    "sd hd"
    "sd con";
}

.header {
  grid-area: hd;
  display: grid;
  grid-template-rows: 2fr 3fr;
  grid-template-columns: 5fr 3fr;
}

.search {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 3rem;
}

.search > button {
  margin-right: 1rem;
  padding: 0.25rem;
  border-radius: 14px;
  font-weight: bold;
}

.search > input {
  width: 100%;
  padding: 0.25rem 0.75rem;
  line-height: 1.3rem;
  border: none;
  background-color: #e2e8f0;
  border-radius: 20px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-icon {
  width: 25px;
  height: 25px;
  margin-right: 2rem;
  background-color: #000;
}

.profile-img {
  background-color: #facc15;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-profile {
  margin-left: 2rem;
}

.greeting {
  display: flex;
  padding-left: 3rem;
  align-items: center;
}

.profile-img-big {
  background-color: #facc15;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.greeting-text {
  padding-left: 1.5rem;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.action-btn {
  padding: 0.8rem;
  background-color: #1992d4;
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
  width: 6.25rem;
}

.sidebar {
  grid-area: sd;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #1992d4;
  color: #fff;
  font-weight: 600;
}

.sidebar > .title {
  margin-bottom: 2rem; 
}

ul {
  list-style: none;
}

.nav {
  margin-bottom: 1rem;
}

.nav-items {
  margin: 1rem 0;
}

.options {
  margin-bottom: 1rem;
}

.options-items {
  margin: 1rem 0;
}

.content {
  grid-area: con;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 300px;
  grid-template-areas: 
    "pro ann"
    "pro tre";
  background-color: #e2e8f0;
}

.projects {
  grid-area: pro;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1.5rem repeat(auto-fit, minmax(100px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.projects > .title {
  grid-column: 1 / -1
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-left-style: solid;
  border-left-width: 8px;
  border-left-color: #efb52d;
  padding: 0.5rem;
  border-radius: 8px;

}

.announcements {
  grid-area: ann;
  display: grid;
  grid-template-rows: 2rem 1fr;
  gap: 1.5rem;
  padding: 1rem 1.5rem 0.5rem 1rem;
}

.feed {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 8px;
  padding: 1rem;
}

.a-feed-card {
  width: 100%;
  margin: 1rem 0;
}

.a-feed-card > h4 {
  margin-bottom: 0.2rem;
}

.feed > .break {
  border: 1px solid #ddd;
  margin: 0.5rem 0; 
}

.trending {
  grid-area: tre;
  display: grid;
  grid-template-rows: 2rem 1fr;
  gap: 1.5rem;
  padding: 1rem 1.5rem 0.5rem 1rem;
}

.t-feed-card {
  display: flex;
  padding: 1rem 0;
}

.info-container {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}