* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
    "sd hd"
    "sd con";
  border: 3px solid red;
}

.header {
  grid-area: hd;
  border: 3px solid orange;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 5fr 4fr;
}

.search {
  border: 1px solid black;
}

.profile {
  border: 1px solid black;
}

.greeting {
  border: 1px solid black;
}

.actions {
  border: 1px solid black;
}

.sidebar {
  grid-area: sd;
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.sidebar > .title {
  margin-bottom: 2rem; 
}

ul {
  list-style: none;
}

.nav {
  margin-bottom: 1rem;
}

.nav-items {
  margin: 1rem 0;
}

.options {
  margin-bottom: 1rem;
}

.options-items {
  margin: 1rem 0;
}

.content {
  grid-area: con;
  border: 3px solid purple;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 
    "pro ann"
    "pro tre";
}

.projects {
  grid-area: pro;
  border: 1px solid black;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  border-left-style: solid;
  border-left-width: 8px;
  border-left-color: orange;
  padding: 0.5rem;
  width: 21rem;
  height: 10rem;
}

.announcements {
  grid-area: ann;
  border: 1px solid black;
}

.trending {
  grid-area: tre;
  border: 1px solid black;
}