* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
    "sd hd"
    "sd con";
  border: 3px solid red;
}

.header {
  grid-area: hd;
  border: 3px solid orange;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 5fr 4fr;
}

.search {
  border: 1px solid black;
}

.profile {
  border: 1px solid black;
}

.greeting {
  border: 1px solid black;
}

.actions {
  border: 1px solid black;
}

.sidebar {
  grid-area: sd;
  border: 3px solid green;
}

.content {
  grid-area: con;
  border: 3px solid purple;
}